<template name="sheet_table">

  {{#if updateSheetModal}}
    {{> update_sheet_modal}}
  {{/if}}

  <input class="form-control" type="search" name="search" id="search" placeholder="Search">
  <table class="table table-hover">
    <thead>
    <tr>
      <th><a data-sort="title" href="">Title</a></th>
      <th><a data-sort="artist" href="">Artist</a></th>
      <th><a data-sort="stars" href="">Starred</a></th>
      <th><a data-sort="difficulty" href="">Difficulty</a></th>
      <th><a data-sort="instruments" href="">Instruments</a></th>
      <th><a data-sort="genres" href="">Genres</a></th>
      <th><a data-sort="created" href="">Date added</a></th>
      {{#if currentUser}}<th class="text-right">Action</th>{{/if}}
    </tr>
    </thead>
    <tbody>
      {{#each sheets}}
        <tr>
          <td><a href="{{url}}" target="_blank">{{title}}</a></td>
          <td>{{artist}}</td>
          <td>{{stars}}</td>
          <td>{{difficulty}}/5</td>
          <td>{{formatTags instruments}}</td>
          <td>{{formatTags genres}}</td>
          <td>{{formatDate created}}</td>
          {{#if currentUser}}
            <td class="text-right">
              {{#if notCreatedByUser}}
                {{#if starred}}
                  <button class="btn btn-info btn-xs unstar">Unstar</button>
                {{else}}
                  <button class="btn btn-default btn-xs star">Star</button>
                {{/if}}
              {{/if}}
              {{#if isOwner}}
                <button class="btn btn-warning btn-xs editSheet">Edit</button>
                <button class="btn btn-danger btn-xs removeSheet">Delete</button>
              {{else}}
                {{#if isInRole 'admin'}}
                  <button class="btn btn-warning btn-xs editSheet">Edit</button>
                  <button class="btn btn-danger btn-xs removeSheet">Delete</button>
                {{/if}}
              {{/if}}
            </td>
          {{/if}}
        </tr>
      {{/each}}
    </tbody>
  </table>
</template>