<template name="sheet_table">
  <table class="table table-hover">
    <thead>
    <tr>
      <th>Title</th>
      <th>Artist</th>
      <th>Starred</th>
      <th>Date added</th>
      {{#if currentUser}}<th class="text-right coll-md-2">Action</th>{{/if}}
    </tr>
    </thead>
    <tbody>
      {{#each sheets}}
        <tr>
          <td><a href="{{url}}" target="_blank">{{title}}</a></td>
          <td>{{artist}}</td>
          <td>{{stars}}</td>
          <td>{{created}}</td>
          {{#if currentUser}}
            <td class="text-right col-md-2">
              {{#if notCreatedByUser}}
                {{#if starred}}
                  <button class="btn btn-warning btn-xs unstar">Unstar</button>
                {{else}}
                  <button class="btn btn-default btn-xs star">Star</button>
                {{/if}}
              {{/if}}
              {{#if isOwner}}
                <button class="btn btn-danger btn-xs removeSheet">Delete</button>
              {{else}}
                {{#if isInRole 'admin'}}
                  <button class="btn btn-danger btn-xs removeSheet">Delete</button>
                {{/if}}
              {{/if}}
            </td>
          {{/if}}
        </tr>
      {{/each}}
    </tbody>
  </table>
</template>